@model DataLayer6.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rut)
        </dd>

        <dt>
            Digito
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dig)
        </dd>

        <dt>
            Nombre Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_usr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            Apellido Paterno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ape_pat)
        </dd>

        <dt>
            Apellido Materno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ape_mat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fono1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fono1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fono2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fono2)
        </dd>

        <dt>
            Habilitado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flg_hab)
        </dd>

        <dt>
           Eliminado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flg_elim)
        </dd>

        <dt>
            Contraseña
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasenha)
        </dd>

        <dt>
            Perfil
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil.Dsc_Perfil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Usua }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
