@model IEnumerable<DataLayer6.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
    @Html.ActionLink("Usuarios Eliminados", "DeletedIndex")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rut)
        </th>
        <th>
            Digito
        </th>
        <th>
            Nombre Usuario
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Apellido Paterno
        </th>
        <th>
            Apellido Materno
        </th>
        <th>
           Habilitado
        </th>
        <th>
           Contraseña
        </th>
        <th>
           Perfil
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_usr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ape_pat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ape_mat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flg_hab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contrasenha)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.Perfil.Dsc_Perfil)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Usua }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_Usua })
           <!-- @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_Usua })-->
        </td>
    </tr>
}

</table>
