<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Administración AG</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar glyphicon glyphicon-menu-hamburger"></span>
                </button>
                @Html.ActionLink("GesFlota", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" class="" id="menu-toggle">
                            Menú <<
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    @Html.ActionLink("Inicio", "Index", "Home")
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Administrador"))
                    {
                        <li>
                            @Html.ActionLink("Dashboard", "Dashboard", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Reporte Conductores", "ReporteViajes", "Viajes")
                        </li>
                        <li>
                            @Html.ActionLink("Reporte Empresas", "CobroEmpresa", "Viajes")
                        </li>
                        <li>
                            @Html.ActionLink("Usuarios", "Index", "Usuario")
                        </li>
                        <li>
                            @Html.ActionLink("Perfiles", "Index", "Perfil")
                        </li>
                        <li>
                            @Html.ActionLink("Clientes", "Index", "Cliente")
                        </li>
                        <li>
                            @Html.ActionLink("Empresas", "Index", "Empresa")
                        </li>
                        <li>
                            @Html.ActionLink("Tarifas", "Index", "Tarifas")
                        </li>
                        <li>
                            @Html.ActionLink("Chofer", "Index", "Conductor")
                        </li>
                        <li>
                            @Html.ActionLink("Vehículos", "Index", "Vehiculo")
                        </li>
                        <li>
                            @Html.ActionLink("Reservas", "Index", "Reservas")
                        </li>
                        <li>
                            @Html.ActionLink("Viajes", "Index", "Viajes")
                        </li>
                        <li>
                            @Html.ActionLink("Estados", "Index", "Estados")
                        </li>
                        <!--<li>
                            @Html.ActionLink("Conducto-Vehiculo", "Index", "Conductor_vehiculo")
                        </li>-->
                    }
                    if (User.IsInRole("Operador"))
                    {
                        
                        <li>
                            @Html.ActionLink("Clientes", "Index", "Cliente")
                        </li>
    <li>
        @Html.ActionLink("Dashboard", "Dashboard", "Home")
    </li>
                        <li>
                            @Html.ActionLink("Empresas", "Index", "Empresa")
                        </li>
                        <li>
                            @Html.ActionLink("Chofer", "Index", "Conductor")
                        </li>
                        <li>
                            @Html.ActionLink("Vehículos", "Index", "Vehiculo")
                        </li>
                        <li>
                            @Html.ActionLink("Reservas", "Index", "Reservas")
                        </li>
                        <li>
                            @Html.ActionLink("Viajes", "Index", "Viajes")
                        </li>
                        <li>
                            @Html.ActionLink("Estados", "Index", "Estados")
                        </li>
    <!--<li>
        @Html.ActionLink("Conducto-Vehiculo", "Index", "Conductor_vehiculo")
    </li>-->
                    }

                }
                <li>
                    @Html.ActionLink("Acerca de", "About", "Home")
                </li>
                <li>
                    @Html.ActionLink("Contacto", "Contact", "Home")
                </li>
               
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <div id="page-content-wrapper">
            <div class="container-fluid body-content">
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Success!</strong> Datos Guardados con exito.
                    </div>
                }
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Administración AG</p>
                </footer>
            </div>
        </div>
   </div>
    <script>
        $("#menu-toggle").click(function (e) {
            if ($("#wrapper").hasClass("toggled")) {
                $("#menu-toggle").text("Menú <<")
            } else {
                $("#menu-toggle").text("Menú >>")
            }
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(function () {
            $('.datetimepicker').datetimepicker({
               format: 'YYYY-MM-DD'
            });
            $('.timepicker').datetimepicker({
                format: 'HH:mm'
            });
        });
    </script>
</body>
</html>
