@model DataLayer6.Tarifa

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Tarifa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tarifa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc_Tarifa)
        </dd>

        <dt>
            Valor Bandera
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_bndra)
        </dd>

        <dt>
            Valor Metros
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_mts)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Tarifa }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
