@model IEnumerable<DataLayer6.Tarifa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Tarifa
        </th>
        <th>
            Valor Bandera
        </th>
        <th>
            Valor Metros
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Desc_Tarifa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_bndra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_mts)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Tarifa }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_Tarifa }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_Tarifa })
        </td>
    </tr>
}

</table>
