@model IEnumerable<DataLayer6.Viaje>

@{
    ViewBag.Title = "ReporteViajes";
}

<h2>Reporte Viajes Chofer</h2>

<div class="row">
    <div class="col-md-4">
        Desde
        <input class="form-control datetimepicker text-box single-line" placeholder="Fecha Desde" id="start" name="start" type="datetime" value="@ViewBag.start">
    </div>
    <div class="col-md-4">
        Hasta
        <input class="form-control datetimepicker text-box single-line" placeholder="Fecha Hasta" id="end" name="end" type="datetime" value="@ViewBag.end">
    </div>
    <div class="col-md-4">
        <a href="#" id="buscar" class="btn btn-info">Buscar</a>
    </div>
</div>
<br />
<table class="table">
    <tr>
        <th>
            Conductor
        </th>
        <th>
            Total Viajes
        </th>
        <th>
           Total Pagos
        </th>
    </tr>
    @foreach (var itemTotales in Model.GroupBy(x => x.Conductor))
    { 
    <tr>
        <td>
            @Html.DisplayFor(mi => itemTotales.First().Conductor.Nombre) (@Html.DisplayFor(mi => itemTotales.First().Conductor.Comision))
        </td>
        <td>
            @Html.DisplayFor(mi => itemTotales.Key.Viaje.Count)
        </td>
        <th>
            @{int total = 0; int? comision = itemTotales.First().Conductor.Comision; }
            @foreach(var itemValor in itemTotales.Key.Viaje.Select(v => v.Valor))
            {
                
                total = total + ( Int32.Parse(itemValor.Value.ToString()) * Int32.Parse(comision.Value.ToString()));
               
            }
            @total
        </th>
    </tr>
    }
</table>
            <button data-toggle="collapse" class="btn btn-info" data-target="#viajes">Mostrar Registros</button>
            <div id="viajes" class="collapse">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Origen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Destino)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Km)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Valor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaInicio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaTermino)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HoraIni)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HoraTer)
                        </th>
                        <th>
                            Valor Bandera
                        </th>
                        <th>
                            Valor Metros
                        </th>
                        <th>
                            Cliente
                        </th>
                        <th>
                            Conductor
                        </th>
                        <th>
                            Estado
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Origen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Destino)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Km)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaInicio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaTermino)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HoraIni)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HoraTer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valor_bndra)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valor_mts)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Conductor.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.estado.Nombre)
                            </td>
                        </tr>
                    }

                </table>
            </div>

            <script>
                $("#buscar").click(function () {
                    window.location.href = '@Url.Action("ReporteViajes")' + '/?start=' + $('#start').val() + '&end=' + $('#end').val();
                    return false;
                });
            </script>
