@model IEnumerable<DataLayer6.Conductor>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Conductores</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Rut
        </th>
        <th>
            Digito
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
           Teléfono
        </th>
        <th>
            Comisión
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habilitado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habilitado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movil)
        </td>
        <td>
            <a href="Conductor/Edit/@item.Rut">Editar</a> |
            <a href="Conductor/Details/@item.Rut">Detalles</a> |
            <a href="Conductor/Delete/@item.Rut">Eliminar</a>
        </td>
    </tr>
}

</table>
