@model DataLayer6.Reserva

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<style>
     #map {
        height: 100%;
      }
</style>
<div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Reserva</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Cliente_Id, "Cliente_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Cliente_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Cliente_Id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RutConductor, "RutConductor", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("RutConductor", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RutConductor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PatenteVehiculo, "PatenteVehiculo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("PatenteVehiculo", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PatenteVehiculo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fecha_trx, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Fecha_trx, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                        @Html.ValidationMessageFor(model => model.Fecha_trx, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fecha_viaje, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Fecha_viaje, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                        @Html.ValidationMessageFor(model => model.Fecha_viaje, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Dir_origen, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Dir_origen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Dir_origen, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Dir_destino, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Dir_destino, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Dir_destino, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
function initMap() {
  var origen = (document.getElementById('Dir_origen'));
  var destino = (document.getElementById('Dir_destino'));
    
  var autocomplete = new google.maps.places.Autocomplete(destino);
  var autocomplete = new google.maps.places.Autocomplete(origen);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAclk8AuFL14AjTXEX3Jbjxo38qUkJ9ynQ&signed_in=true&libraries=places&callback=initMap"
        async defer></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
