@model DataLayer6.Reserva

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatenteVehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatenteVehiculo)
        </dd>

        <dt>
           Fecha Transacción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_trx)
        </dd>

        <dt>
            Fecha Viaje
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_viaje)
        </dd>

        <dt>
            Origen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dir_origen)
        </dd>

        <dt>
           Destino
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dir_destino)
        </dd>

        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

        <dt>
           Conductor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conductor.Nombre)
        </dd>

        <dt>
            Pendiente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pendiente)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Reserva }) |
    @Html.ActionLink("Back to List", "Index")
</p>
