@model IEnumerable<DataLayer6.Reserva>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Reservas</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Patente
        </th>
        <th>
            Creada
        </th>
        <th>
            Fecha Viaje
        </th>
        <th>
          Origen
        </th>
        <th>
            Destino
        </th>
        <th>
           Cliente
        </th>
        <th>
            Conductor
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatenteVehiculo)
        </td>
        <td>
            @Html.ValueFor(modelItem => item.Fecha_trx, "{0:dd/MM/yyyy}")
        </td>
        <td>
            @Html.ValueFor(modelItem => item.Fecha_viaje, "{0:dd/MM/yyyy}")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dir_origen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dir_destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conductor.Nombre)
        </td>
        @if (item.Pendiente.Value == 1 && item.Fecha_viaje < DateTime.Now)
        {
            <td>
              Fecha pasada, reserva pendiente.
            </td>
        }
        else
        {
            if (item.Pendiente.Value == 1 && item.Fecha_viaje == DateTime.Now)
            {
                <td>
                    Reserva pendiente para hoy
                </td>
            }
            else
            {
                if (item.Pendiente.Value == 0)
                {
                    <td>
                        Reserva realizada
                    </td>
                }
                else
                {
                    if (item.Fecha_viaje > DateTime.Now)
                    {
                        <td>
                            Reserva por realizarse
                        </td>
                    }
                }
            }

        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Reserva }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Reserva })
        </td>
    </tr>
}

</table>
